#header {
  display: flex;
  background-color: #3e3e44;
  justify-content: space-between;
  color: #e5e5e5;
}
#mainNav ul {
  display: flex;
}
#header p {
  margin-inline-start: 30px;
}
/* set margin */
#mainNav li {
  list-style: none;
  margin-inline-end: 40px;
}

/* for adding link to list items */
.mainNav a {
}

.highlight {
  color: #2699fb;
}

#aboutCard {
  background-color: #f2e2e5;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 50px;
}
#aboutCard h1 {
  margin-left: 50px;
}
.aboutBody {
  width: 400px;
  margin-left: 50px;
}
.caseStudyImage {
  width: 125px;
}
.caseStudyImage1 {
  margin-top: 60px;
  width: 175px;
}
#caseStudy {
  display: inline-flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.caseStudyCard {
  background-color: #f2e2e5;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  padding: 60px;
}

#socialIcons img {
  margin-right: 16px;
  height: 30px;
  width: 30px;
}
#socialIcons a {
  display: flex;
  align-items: center;
  margin: 5px;
}
/* size of icons; use margin */

.tagLine {
  align-items: flex-start;
}

#footerTagline {
  display: flex;
  justify-content: space-between;
  background-color: #f2e2e5;
  margin-left: 30px;
  margin-right: 30px;
  padding: 50px;
}
